*{
    font-family: Arial, Verdana, sans-serif;
}

body{
    margin: 10px 20px 10px 20px;
}

fieldset{
    margin: 20px auto 20px auto;
}

legend{
    font-size: 20px;
}

input{
    margin: 10px auto 10px auto;
}

#fieldTitle{
    font-size: 30px;
    font-weight: bold;
}

.submitButton{
    font-size: 20px;
}

.radio{
    margin: auto 5px auto 5px;
}

.radioInput{
    margin: auto 5px auto 5px;
}